.select-field-container {
  display: flex;
  flex-direction: column;
}

.select-input {
  padding: 0px 12px;
  font-size: 1rem;
  border: 1px solid #555;
  border-radius: 6px;
  background: #2b2b2b;
  color: #eee;
  transition: border-color 0.2s, box-shadow 0.2s, background-color 0.2s,
    color 0.2s;
  outline: none;
}

.select-input:focus {
  border-color: #8a7fff;
  box-shadow: 0 0 0 3px #4b3fbd88;
}

/* Light mode */
@media (prefers-color-scheme: light) {
  .select-input {
    background: #fff;
    color: #222;
    border: 1px solid #ced4da;
  }

  .select-input:focus {
    border-color: #6c63ff;
    box-shadow: 0 0 0 3px #eceafe;
  }
}
