table {
  width: 100%;
  border-collapse: collapse;
}

.table-wrapper {
  display: flex;
  flex-direction: column;
  width: 1100px;
  height: 700px;
  overflow: hidden;
  border: 1px solid #374151;
  margin: 8px;
  border-radius: 8px;
  background-color: #111827;
  position: relative;
}

.table-scroll-area {
  flex-grow: 1;
  overflow: auto;
}

.table-line {
  border: 0.2px solid #374151;
  max-width: 300px;
  word-wrap: break-word;
  white-space: normal;
  padding: 8px;
  color: white;
}

.table-header {
  background-color: #111827;
  border: 1px solid #374151;
  padding: 8px;
  position: sticky;
  top: 0;
  z-index: 2;
  color: white;
}

.table-sticky-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 10px;
  background-color: #111827;
  border-top: 1px solid #374151;
  flex-shrink: 0;
  position: sticky;
  bottom: 0;
  z-index: 3;
  color: white;
}

.table-totals {
  margin-left: auto;
  font-weight: bold;
}

.pagination {
  display: flex;
  gap: 8px;
  align-items: center;
}
.pagination button {
  border: none;
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.error-messages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 120px;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: loader 1s linear infinite;
  color: #60a5fa;
  z-index: 10;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Light mode */
@media (prefers-color-scheme: light) {
  .table-wrapper {
    background-color: #e8edf3;
    border: 1px solid #ddd;
  }
  .table-line {
    border: 1px solid #ddd;
    color: #213547;
  }
  .table-header {
    background-color: #e8edf3;
    border: 1px solid #ddd;
    color: #213547;
  }
  .table-sticky-footer {
    background-color: #e8edf3;
    border-top: 1px solid #ddd;
    color: #213547;
  }
}
